<div><h1>Base Convertor</h1></div>
<br/>
<form [formGroup]="form" >
  <div><label>Decimal   :</label><input type="text" name="decimal" placeholder="decimal value" 
    formControlName="decimal" (ngModelChange) = "decimalChanged(oldValue,newValue = $event,10)" /></div>
<br/>
  <div><label>Binary   :</label><input type="text" name="binary" placeholder="binary value"
     formControlName="binary" (ngModelChange) = "binaryChanged(oldValue,newValue = $event,2)" /></div>
  <br/>  
  <div><label>Octal   :</label><input type="text" name="octal" placeholder="octal value" 
    formControlName="octal" (ngModelChange) = "octalChanged(oldValue,newValue = $event,8)" /></div>
  <br/>  
  <div><label>Hexa   :</label><input type="text" name="hexa" placeholder="hexa value"
     formControlName="hexa" (ngModelChange) = "hexaChanged(oldValue,newValue = $event,16)" /></div>
</form>

